@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 0 0 0;
  --card: 245 245 245;
  --card-foreground: 0 0 0;
  --muted: 245 245 245;
  --muted-foreground: 115 115 115;
  --border: 229 229 229;
}

.dark {
  --background: 18 18 18;
  --foreground: 250 250 250;
  --card: 30 30 30;
  --card-foreground: 250 250 250;
  --muted: 40 40 40;
  --muted-foreground: 163 163 163;
  --border: 50 50 50;
}
